.title {
  max-width: 80%;
}

.classEllipsis {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.7rem 1.5rem;
}

.desc {
  font-size: 0.9rem;
  font-weight: 500;
}

.subtasksQty {
  color: #828fa3;
  font-size: 14px;
}

.select {
  margin-top: 0.5rem;
}
